.font
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 200;
}

.well
{
    width: 250px;
    height: 450px;
}

.btn
{
    margin-top: 50px;
    color: black;
    background-color: silver;
}
